@media (max-width: 768px) {
  #github-projects li {
      width: 90%; /* Reduzir a largura em dispositivos móveis */
      height: auto; /* Deixar a altura automática */
      margin: 0 auto 10px; /* Centralizar o item */
      padding: 10px; /* Ajustar o padding */
  }
}

@media (max-width: 768px) {
  #github-projects button {
      width: 100%; /* Fazer o botão ocupar a largura total */
      height: auto; /* Ajustar a altura automaticamente */
      padding: 0.5em 1em; /* Ajustar o padding para telas pequenas */
      font-size: 1em; /* Ajustar o tamanho da fonte */
  }

  #github-projects button span {
      width: auto; /* Ajustar a largura do span dentro do botão */
      height: auto;
      font-size: 1em; /* Ajustar o tamanho da fonte do span */
  }
}

@media (max-width: 768px) {
  #projects h2 {
      font-size: 1.5em; /* Reduzir o tamanho da fonte do título */
      padding: 0.5rem 0; /* Ajustar o padding */
  }

  #github-projects {
      padding: 0 10px; /* Adicionar padding lateral em telas menores */
  }
}

.card_projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects {
  padding: 0;
}

#projects h2{
  padding: 1rem 0;
  margin: 0;
}

/* Estilo para os itens da lista */
#github-projects {
  list-style-type: none; /* Remove os marcadores padrão */
  padding: 0; /* Remove o padding padrão */
}

#github-projects .card-body {
  padding: 0;

}

#github-projects button {
  padding: 0.1em 0.25em;
  width: 90%;
  height: 4.2em;
  background-color: #4b0aff;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
  cursor: pointer;
}

#github-projects button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  min-width: 8.25em;
  min-height: 2.5em;
  background-color: #00000056;
  border-radius: 0.2em;
  font-size: 0.9em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

#github-projects button span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

#github-projects button span:not(:hover) {
  transition: all 1s;
}
