#projects {
  padding: 0;
}

#projects h2{
  padding: 1rem 0;
  margin: 0;
}

/* Estilo para os itens da lista */
#github-projects {
  list-style-type: none; /* Remove os marcadores padrão */
  padding: 0; /* Remove o padding padrão */
}

#github-projects li {
  width: 100%;
  height: 10em;
  margin: 0 0 15px 0;
  padding: 15px;
  border: 2px solid #4b0aff;
  border-radius: 5px;
  color: white;
  transition: box-shadow 0.3s;
}

/* Efeito de hover para os itens */
#github-projects li:hover {
  box-shadow: 0 4px 8px rgba(92, 22, 255, 0.2); /* Sombra ao passar o mouse */
}

#github-projects button {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: #4b0aff;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
  cursor: pointer;
}

#github-projects button span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #00000056;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

#github-projects button span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

#github-projects button span:not(:hover) {
  transition: all 1s;
}
